@media all and (min-width: 1490px) {
  .extraMenu {
    position: absolute;
    top: 92px;
    left: 30px;
    width: 420px;
  }
}

@media (max-width: 1490px) and (min-width: 0px) {
  .order {
    flex-direction: column-reverse;
  }
  .menu {
    margin-bottom: 1rem;
  }
  .extraMenu {
    position: static;
    width: 550px;
    margin-top: 1rem;
  }
}

.logo {
  position: absolute;
  top: 66px;
  min-height: calc(100vh - 66px);
  min-width: 100%;
  background: var(--surface-a);
}

.hideButton {
  opacity: 0;
  transition: opacity 0.5s ease;
}
