<div class="flex flex-column">
  <div class="flex justify-content-center gap-5">
    <div class="flex flex-column gap-2">
      <div class="flex justify-content-center">
        <h4 style="margin: 0">{{'options.lightTheme'|translate}}</h4>
      </div>
      <p-dropdown [options]="colorArray" styleClass="w-8rem" [(ngModel)]="lightThemColor" (onChange)="lightThemColorChange(lightThemColor)"
                  optionLabel="color"></p-dropdown>
    </div>
    <div class="flex flex-column gap-2">
      <div class="flex justify-content-center">
        <h4 style="margin: 0">{{'options.darkTheme'|translate}}</h4>
      </div>
      <p-dropdown [options]="colorArray" styleClass="w-8rem" [(ngModel)]="darkThemColor" (onChange)="darkThemColorChange(darkThemColor)"
                  optionLabel="color"></p-dropdown>
    </div>
  </div>
  <p-divider type="solid" align="center"><label class="pi pi-palette ml-2 mr-2" style="font-size: 1.5rem"></label></p-divider>
  <div class="flex justify-content-center gap-4">
    <div class="flex align-items-center gap-2" [pTooltip]="'options.adt'|translate" tooltipPosition="top">
      <p-checkbox [binary]="true" [(ngModel)]="altDark" (onChange)="altDarkThem()"></p-checkbox>
      <span class="material-symbols-outlined" style="font-size: 2rem">night_sight_max</span>
    </div>
    <div class="flex align-items-center gap-2" [pTooltip]="'options.hsbd'|translate" tooltipPosition="top">
      <p-checkbox [binary]="true" [(ngModel)]="book" (onChange)="bookThem()"></p-checkbox>
      <span class="material-symbols-outlined" style="font-size: 2rem">menu_book</span>
    </div>
    <div class="flex align-items-center gap-2" [pTooltip]="'options.pag'|translate" tooltipPosition="top">
      <p-checkbox [disabled]="!book" [binary]="true" [(ngModel)]="pag" (onChange)="pagThem()"></p-checkbox>
      <span class="material-symbols-outlined" style="font-size: 2rem">switch_left</span>
    </div>
    <div class="flex align-items-center gap-2" [pTooltip]="'options.pta'|translate" tooltipPosition="top">
      <p-checkbox [disabled]="!book" [binary]="true" [(ngModel)]="animationRecord" (onChange)="animationRecordThem()"></p-checkbox>
      <span class="material-symbols-outlined" style="font-size: 1.8rem">auto_stories</span>
    </div>
    <div class="flex align-items-center gap-2" [pTooltip]="'options.eiab'|translate" tooltipPosition="top">
      <p-checkbox [disabled]="!book" [binary]="true" [(ngModel)]="bookEditRecord" (onChange)="bookEditRecordThem()"></p-checkbox>
      <span class="material-symbols-outlined" style="font-size: 2rem">history_edu</span>
    </div>
  </div>
</div>
