<p-menubar [model]="startTranslateService.getMenuTranslate()" [autoDisplay]="true" [autoHide]="true">
  <ng-template pTemplate="start">
    <img src="https://im.wampi.ru/2023/03/19/pngwing.com.png" height="45" class="mr-1" alt="diary">
  </ng-template>
  <ng-template pTemplate="end">
    <p-avatar [image]="authService.gatImage()" (click)="onSidebar.onWin = true" styleClass="mr-1" size="large" shape="circle"></p-avatar>
  </ng-template>
</p-menubar>
<app-toast [dataToast]="toastService.getToast()" [onSidebar]="onSidebar" (clickButton)="changeSigOrReg($event)"></app-toast>
<app-sidebar [userDate]="authService.getUserDate()" [sigOrReg]="onSidebar.sigOrReg" [onSidebar]="onSidebar" (closeWin)="closeWin()"></app-sidebar>

