<p-menubar id="cap" [model]="translateService.getMenuTranslate()" [autoDisplay]="true" [autoHide]="true">
  <ng-template pTemplate="start">
    <div class="flex">
      <img src="assets/images/noun-book.png" height="45" alt="diary" [style]="{filter: themeService.getThemeBool()?'invert(100%)':'invert(0%)'}">
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex flex-row justify-content-center align-items-center gap-3">
      <p-toggleButton styleClass="p-button-rounded p-button-outlined" [(ngModel)]="darkTheme" onIcon="pi pi-sun"
                      offIcon="pi pi-moon" (onChange)="changesThem()"></p-toggleButton>
      <app-dropdown-lang [language]="translateService.getLanguage()"></app-dropdown-lang>
      <p-avatar [image]="authService.gatImage()" [style]="{cursor: 'pointer'}" (click)="onSidebar.onWin = true"
                size="large" shape="circle"></p-avatar>
    </div>
  </ng-template>
</p-menubar>
<app-toast (clickButton)="changeSigOrReg($event)"></app-toast>
<app-sidebar [userDate]="authService.getUserDate()" [sigOrReg]="onSidebar.sigOrReg" [onSidebar]="onSidebar" (closeWin)="this.onSidebar.onWin = false"></app-sidebar>
