<p-sidebar [visible]="onSidebar.onWin" position="right" (onHide)="closeWin.emit()" [blockScroll]="true"
           styleClass="w-sidebar" [baseZIndex]="10000" (onShow)="this.authService.userUpdate()"
           [modal]="false" [dismissible]="false" xmlns="http://www.w3.org/1999/html">
  <ng-template pTemplate="header">
    <div class="flex justify-content-center" style="width: 100%">
      <h2 style="margin:0">{{this.authService.getSigIn()?('sidebar.control'|translate):('sidebar.authorization'|translate)}}</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p-tabView *ngIf="!this.authService.getSigIn()" [(activeIndex)]="active" styleClass="tabview-custom">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-sign-in mr-2" style="color: #22C55E;"></i>
            <span>{{ 'sidebar.signIn'|translate }}</span>
          </div>
        </ng-template>
        <app-login (clickRestore)="onRestore()" (exitSidebar)="exitSidebar()"></app-login>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-user mr-2" style="color: #D97706;"></i>
            <span>{{ 'sidebar.registration'|translate }}</span>
          </div>
        </ng-template>
        <app-register (sigInClick)="onInPut()"></app-register>
      </p-tabPanel>
      <p-tabPanel header="Header III" [disabled]="active!==2">
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-user-edit mr-2" style="color: #9C27B0; font-size: 1.2rem"></i>
            <span>{{ 'sidebar.restore'|translate }}</span>
          </div>
        </ng-template>
        <app-restore [focus]="active===2" (sigInEvent)="onInPut()"></app-restore>
      </p-tabPanel>
    </p-tabView>
    <p-fieldset *ngIf="this.authService.getSigIn()">
      <ng-template pTemplate="header">
        <div class="flex align-items-center text-primary gap-2">
          <span class="pi pi-id-card"></span>
          <span class="font-bold text-lg">{{ 'sidebar.userData'|translate }}</span>
        </div>
      </ng-template>
      <div class="flex justify-content-between">
        <div class="flex justify-content-center align-items-center gap-3">
          <p-avatar [image]="userDate.image" size="xlarge" shape="circle"></p-avatar>
          <div class="flex flex-column gap-1">
            <h2 style="margin: 0">{{ userDate.userName }}</h2>
            <p style="margin: 0">{{ userDate.email }}</p>
          </div>
        </div>
        <div class="flex gap-2 mr-3">
          <p-divider layout="vertical"></p-divider>
          <div class="flex flex-column justify-content-center align-items-center gap-2">
            <div class="flex gap-2" [pTooltip]="'sidebar.records'|translate" tooltipPosition="top">
              <span class="pi pi-bookmark" style="font-size: 1.5rem"></span>
              <span style="font-size: 1.3rem">{{ userDate.records }}</span>
            </div>
            <div class="flex gap-2" [pTooltip]="'sidebar.teg'|translate" tooltipPosition="top">
              <span class="pi pi-tags" style="font-size: 1.5rem"></span>
              <span style="font-size: 1.3rem">{{ userDate.tag }}</span>
            </div>
          </div>
        </div>
      </div>
    </p-fieldset>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex flex-column gap-3">
      <p-accordion>
        <p-accordionTab *ngIf="this.authService.getSigIn()">
          <ng-template pTemplate="header">
            <div class="flex align-items-center">
              <i class="pi pi-user-edit mr-2" style="font-size: 1.2rem"></i>
              <span class="vertical-align-middle">{{ 'sidebar.editData'|translate }}</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <app-edit-data (exitSidebar)="exitSidebar()"></app-edit-data>
          </ng-template>
        </p-accordionTab>
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div class="flex align-items-center">
              <i class="pi pi-cog mr-2"></i>
              <span class="vertical-align-middle">{{ 'sidebar.options'|translate }}</span>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <app-options></app-options>
          </ng-template>
        </p-accordionTab>
      </p-accordion>
      <div class="flex justify-content-center align-items-center" *ngIf="this.authService.getSigIn()">
        <p-button icon="pi pi-sign-out" (onClick)="authService.logOut()" [label]="'sidebar.signIn'|translate" styleClass="p-button-raised p-button-danger"></p-button>
      </div>
    </div>
  </ng-template>
</p-sidebar>


