<p-toast position="bottom-left" key="notRegister" (onClose)="this.onNotRegister()" [showTransformOptions]="'translateY(100%)'">
  <ng-template pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-question-circle" style="font-size: 3rem"></i>
        <h4>{{ 'toast.notAuthorized' | translate }}</h4>
        <p>{{ 'toast.notSave' | translate }}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6 m-1">
          <button type="button" (click)="sig()" pButton [label] = "'sidebar.SignIn' | translate" class="p-button-success"></button>
        </div>
        <div class="p-col-6 m-1">
          <button type="button" (click)="reg()" pButton [label] = "'sidebar.Registration' | translate" class="p-button-warning"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
