<div *ngIf="records?.length">
  <p-virtualScroller
    [value]="virtualRecord"
    [scrollHeight]="height()"
    [itemSize]="204"
    [lazy]="true"
    (onLazyLoad)="loadCarsLazy($event)"
    #Records>
    <ng-template let-record pTemplate="item">
      <div class="flex justify-content-center mt-4 mb-4" style="width: 100%;">
        <div class="p-card-hide flex order justify-content-between shadow" style="min-width: 600px; width: 50%; min-height: 180px; cursor: pointer"
             (click)="router.navigate( ['/record', record['syllable']])">
          <div class="flex flex-column m-2" style="width: 100%">
            <div class="flex align-items-center gap-3 ml-3">
              <h1 style="margin: 0" (click)="this.router.navigate(['/search'],{queryParams: {title: record['title']}})">{{ record['title'] }}</h1>
              <p-calendar (click)="this.router.navigate(['/search'],{queryParams: {date: record['date']}})" styleClass="w-9rem"
                          class="hide" [(ngModel)]="record['date']" [disabled]="true"></p-calendar>
            </div>
            <p-divider type="solid"></p-divider>
            <div class="flex flex-wrap justify-content-start gap-3" style="max-width: 100%">
              <p-chip *ngFor="let item of record['tag']" (click)="this.router.navigate(['/search'],{queryParams: {tag: item['tag']}})"
                      [label]="item['tag']"></p-chip>
            </div>
          </div>
          <div class="flex flex-column justify-content-center align-items-center m-3 gap-3">
            <p-button icon="pi pi-pencil" (onClick)="edit(record['syllable'])" class="shadow" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-trash" (onClick)="delete(record['syllable'])" class="shadow" styleClass="p-button-text"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="loadingItem">
      <div class="flex justify-content-center mt-4 mb-4" style="width: 100%">
        <p-skeleton height="180px" [width]="width()"></p-skeleton>
      </div>
    </ng-template>
  </p-virtualScroller>
  <div style="position: absolute; bottom: 30px; right: 50px">
    <p-button (onClick)="reset()" icon="pi pi-arrow-up" styleClass="p-button-outlined"></p-button>
  </div>
</div>

<div *ngIf="this.notFound" class="flex justify-content-center align-items-center freehand" [style]="{'min-height': height()}">
  <div class="flex p-card shadow-5 flex-column justify-content-center align-items-center gap-3 sm:p-8" style="min-width: 30rem">
    <img src="assets/images/noun-book-and-pen.png" height="284" alt="diary" [style]="{filter: themeService.getThemeBool()?'invert(100%)':'invert(0%)'}">
    <div class="font-hold text-900 text-center text-6xl">{{ 'notRecord'|translate }}</div>
    <p-button [routerLink]="['/add']" [label]="'mainMenu.add'|translate" icon="pi pi-plus" class="p-button-raised" styleClass="w-10rem"></p-button>
  </div>
</div>
