<div class="p-card m-3">

</div>
<div class="p-card m-3">
  <p-virtualScroller
    [value]="virtualProducts"
    scrollHeight="450px"
    [itemSize]="100"
    [lazy]="true"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-list-detail">
        </div>
        <div class="product-list-action">
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="loadingItem">
      <p-skeleton height="90px" [style]="{ 'margin-top': '10px' }"></p-skeleton>
    </ng-template>
  </p-virtualScroller>
</div>
{{ 'mainMenu.Diary' | translate }}

